<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../Public/Img/Icons/Spotify_Icon_CMYK_Black.png" />
    <link rel="stylesheet" href="../Public/Css/signup.css">
    <title> Registrarte - DusMusic </title>
</head>
<body>
    <img src="../Public/Img/Logos/Spotify_Logo_CMYK_Black.png" width="135px" alt="" class="title-img">
    <h1> Regístrate gratis para escuchar </h1>

    <div class="session">
        <div class="facebook">
            <img src="../Public/Img/Icons/facebook-blue.png" alt="" width="22px" height="22px">
            <p> Registrarse con Facebook </p>
        </div>
        <div class="google">
            <img src="../Public/Img/Icons/google.png" alt="" width="22px" height="22px">
            <p> Registrarse con Google </p>
        </div>
    </div>

    <hr><p class="or">o</p><hr>

    <div class="form">
        <form action="../Controllers/UserController.php" method="post" id="register_form">
            <input type="hidden" name="action" value="prepare_registration">
            <div>
                <label for=""> ¿Cuál es tu email? </label>
                <input type="text" placeholder="Introduce tu email." name="email_u" id="email_u">
                <p class="alert" id="a-1"> Es necesario que introduzcas tu email. </p>
                <p class="alert" id="a-2"> Este email no es válido. Asegúrate de que tenga un formato como este: ejemplo@email.com </p>
                <p class="alert" id="a-3"> Este email ya está conectado a una cuenta. Inicia sesión. </p>
            </div>
            <div>
                <label for=""> Confirma el email </label>
                <input type="text" placeholder="Vuelve a introducir tu email." name="email_confirm_u" id="email_confirm_u">
                <p class="alert" id="a-4"> Es necesario que confirmes tu email </p>
                <p class="alert" id="a-5"> Las direcciones de email no coinciden. </p>
            </div>
            <div>
                <label for=""> Crea una contraseña </label>
                <input type="text" placeholder="Crea una contraseña." name="password_u" id="password_u">
                <p class="alert" id="a-6"> Tu contraseña es muy corta. </p>
                <p class="alert" id="a-7"> Tu contraseña no es suficientemente segura. Elige una más segura. </p>
            </div>
            <div>
                <label for=""> ¿Cómo quieres que te llamemos? </label>
                <input type="text" placeholder="Introduce un nombre de perfil." name="username_u" id="username_u">
                <p class="alert" id="a-8"> Introduce un nombre para tu perfil. </p>
                <p class="always" id="a-9"> Esto aparece en tu perfil. </p>
            </div>
            <div>
                <label> ¿Cual es tu fecha de nacimiento? </label>
            </div>
            <div class="date">
                <div class="date-element">
                    <label for=""> Día </label>
                    <input type="text" placeholder="DD" name="date_day_u" id="date_day_u">
                    <p class="alert" id="a-10"> Selecciona tu mes de nacimiento. </p>
                </div>
                <div class="date-element">
                    <label for=""> Mes </label>
                    <select name="date_month_u" id="date_month_u">
                        <option value="Month"> Mes </option>
                        <option value="January"> Enero </option>
                        <option value="February"> Febrero </option>
                        <option value="March"> Marzo </option>
                        <option value="April"> Abril </option>
                        <option value="May"> Mayo </option>
                        <option value="June"> Junio </option>
                        <option value="July"> Julio </option>
                        <option value="August"> Agosto </option>
                        <option value="September"> Septiembre </option>
                        <option value="October"> Octubre </option>
                        <option value="November"> Noviembre </option>
                        <option value="Dicember"> Diciembre </option>
                    </select>
                    <p class="alert" id="a-11"> Indica un día del mes válido. </p>
                </div>
                <div class="date-element">
                    <label for=""> Año </label>
                    <input type="text" placeholder="AAAA" name="date_year_u" id="date_year_u">
                    <p class="alert" id="a-12"> Indica un año válido. </p>
                </div>
            </div>
            <div>
                <label for=""> ¿Cual es tu sexo? </label>
                <div class="radio">
                    <input type="radio" name="sex_u" id="sex_u" value="man"> 
                    <p class="radio-p"> Hombre </p>
                    <input type="radio" name="sex_u" id="sex_u" value="woman">
                    <p class="radio-p"> Mujer </p>
                    <input type="radio" name="sex_u" id="sex_u" value="apache"> 
                    <p class="radio-p"> Helicoptero de combate </p>
                    <input type="radio" name="sex_u" id="sex_u" value="no"> 
                    <p class="radio-p"> Prefiero no aclararlo </p>
                </div>
            </div>

            <button type="submit" class="btn btn-signup"> Registrarte </button>
            <p class="empty" id="empty"> Debe rellenar todos los campos </p>
        </form>
        <p class="link-login"> ¿Ya tienes cuenta? <a href="#"> Inicia sesión </a></p>
    </div>


    <script src="../Public/Js/jquery-3.6.3.min.js"></script>
    <script src="../Public/Js/signup.js"></script>
</body>
</html>