<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../Public/Img/Icons/Spotify_Icon_CMYK_Black.png" />
    <link rel="stylesheet" href="../Public/Css/signup.css">
    <title> Registrarte - DusMusic </title>
</head>
<body>
    <img src="../Public/Img/Logos/Spotify_Logo_CMYK_Black.png" width="135px" alt="" class="title-img">
    <h1> Regístrate gratis para escuchar </h1>

    <div class="session">
        <div class="facebook">
            <img src="../Public/Img/Icons/facebook-blue.png" alt="" width="22px" height="22px">
            <p> Registrarse con Facebook </p>
        </div>
        <div class="google">
            <img src="../Public/Img/Icons/google.png" alt="" width="22px" height="22px">
            <p> Registrarse con Google </p>
        </div>
    </div>

    <hr><p class="or">o</p><hr>

    <div class="form">
        <form action="" method="post">
            <div>
                <label for=""> ¿Cuál es tu email? </label>
                <input type="text">
            </div>
            <div>
                <label for=""> Confirma el email </label>
                <input type="text">
            </div>
            <div>
                <label for=""> Crea una contraseña </label>
                <input type="text">
            </div>
            <div>
                <label for=""> ¿Cómo quieres que te llamemos? </label>
                <input type="text">
            </div>
            <div class="date">
                <p> ¿Cual es tu fecha de nacimiento? </p>
                <div class="date-element">
                    <label for=""> Día </label>
                    <input type="text">
                </div>
                <div class="date-element">
                    <label for=""> Mes </label>
                    <select name="" id="">
                        <option value=""> Mes </option>
                        <option value=""> Enero </option>
                        <option value=""> Febrero </option>
                        <option value=""> Marzo </option>
                        <option value=""> Abril </option>
                        <option value=""> Mayo </option>
                        <option value=""> Junio </option>
                        <option value=""> Julio </option>
                        <option value=""> Agosto </option>
                        <option value=""> Septiembre </option>
                        <option value=""> Octubre </option>
                        <option value=""> Noviembre </option>
                        <option value=""> Diciembre </option>
                    </select>
                </div>
                <div class="date-element">
                    <label for=""> Año </label>
                    <input type="text">
                </div>
            </div>
            <div>
                <label for=""> ¿Cual es tu sexo? </label>
                <div class="radio">
                    <input type="radio" name="radio" id="" value="Masculino">
                    <input type="radio" name="radio" id="" value="Femenino">
                    <input type="radio" name="radio" id="" value="Helicoptero de combate">
                    <input type="radio" name="radio" id="" value="Prefiero no aclararlo">
                </div>
            </div>

            <button type="submit"> Registrarte </button>
        </form>
        <p> ¿Ya tienes cuenta? <a href="#"> Inicia sesión </a></p>
    </div>
</body>
</html>