@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
    --color1: #1DB954;
    --color2: #FFFFFF;
    --color3: #191414;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

/* Nav Styles */
