@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
    --color1: #1DB954;
    --color2: #FFFFFF;
    --color3: #0c0909;
    --altColor: #535353;
    --altColor2: #909090;
    --facebook: #405A93;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    text-align: center;
}

.title-img {
    margin: 35px 0px;
}

h1 {
    font-weight: bolder;
    letter-spacing: -1px;
    font-style: bold;
}

.facebook, .google {
    display: flex;
    background-color: #405A93;
    width: 405px;
    height: 45px;
    justify-content: center;
    margin: auto;
    align-items: center;
    border-radius: 36px;
    font-weight: bolder;
}

.facebook {
    color: white;
    margin-top: 35px;
}

.google {
    margin-top: 20px;
    background-color: #fff;
    color: #6a6a6a;
    border: 2px solid #6a6a6a;
    margin-bottom: 35px;
}

.google:hover, .facebook:hover {
    transform: scale(1.03);
}

.facebook > img, .google > img {
    margin-right: 15px;
}

.or, hr {
    display: inline-block;
    margin-bottom: 35px;
}

hr {
    height: 2px;
    width: 170px;
    margin: 0px 25px 0px 25px;
    background-color: #535353;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: 600;
}

input {
    width: 450px;
    height: 45px;
    padding-left: 8px;
    font-size: 15px;
}

form > div {
    position: relative;
    width: 450px;
    margin: auto;
    text-align: left;
    margin-bottom: 18px;
}

.date {
    display: flex;
}

select {
    height: 45px;
    padding-left: 8px;
}

.date > div > input {
    width: 100px;
}

.date > div > select {
    width: 200px;
}

.date > div {
    margin-right: 20px;
}

.radio {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

input[type=radio]{
    height: 20px;
    width: 20px;
}

.radio-p {
    margin: 0 20px 0 5px;
}

.btn-signup {
    margin: 30px 0 15px 0;
    background-color: #2fe26d;
    color: #000;
    padding: 14px;
    border: none;
    border-radius: 36px;
    min-width: 160px;
    font-size: 16px;
    letter-spacing: 0.2px;
}

.btn { font-weight: bold; }

.btn {
    margin-left: 12px; 
    letter-spacing: 0.5px;
}

.link-login {
    margin-bottom: 30px;
}

.btn-signup:hover {
    transform: scale(1.1);
    background-color: #1ceb65;
}

a:link, a:visited {
    color: var(--color1);
}

a:hover {
    color: #1ceb65;
}

.alert, .always {
    display: none;
    margin-top: 5px;
    color: red;
}